<template>
  <div>
    <div
      class="alert text-white alert-has-icon"
      :class="userSuspended == true? 'alert-danger':'alert-success'"
    >
      <div class="alert-icon">
        <i class="fas fa-user"></i>
      </div>
      <div class="alert-body">
        <div class="alert-title" v-if="data!=null">
          <h2>Edit Client : {{ data.name}}</h2>
        </div>
        {{ userSuspendedNotice }}.
      </div>
    </div>

    <div class="form-edit-liga" v-if="data!=null">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Client Name</label>
          <input
            type="text"
            v-model="data.name"
            class="form-control"
            :class="validClientName == true ? 'is-valid':'is-invalid'"
            placeholder="John Doel"
          />
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label>Domain URL</label>
            <input
              type="text"
              v-model="data.url"
              class="form-control"
              placeholder="Domain without http:// or https://"
              :class="validDomain ==true? 'is-valid':'is-invalid'"
            />
          </div>
        </div>
      </div>
      <div class="form-row is-valid">
        <div class="form-group col-md-4">
          <label>Register Date</label>
          <datetime
            type="date"
            v-model="data.register_date"
            :input-class="dateFormClass"
            format="yyyy-MM-dd"
          ></datetime>
        </div>

        <div class="form-group col-md-4">
          <div class="form-group">
            <label>Billing Date</label>
            <input
              type="number"
              v-model="data.billing_date"
              class="form-control"
              :class="data.billing_date.length <3&& data.billing_date >0 ? 'is-valid':'is-invalid'"
              placeholder="Billing date "
            />
          </div>
        </div>
        <div class="form-group col-md-4">
          <label
            :class="userSuspended == true ? 'text-danger':'text-success'"
          >{{ userSuspended == true? 'User Suspended':'User Active'}}</label>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              :class="userSuspended == true? 'is-invalid':'is-valid'"
              id="customCheck1"
              @click="data.suspended = !data.suspended"
              :checked="data.suspended ==1"
            />
            <label
              class="custom-control-label"
              for="customCheck1"
            >{{ userSuspended ==false ? 'Click to suspend User' : 'Click to un-suspend User' }}</label>
          </div>
        </div>
      </div>

      <button class="btn btn-primary mr-1" type="submit" @click="update">Update</button>
      <button class="btn btn-secondary" type="reset" @click="back">Cancel</button>
    </div>
  </div>
</template>

<script>
// import data from '../data/sidebar-item'

import { Datetime } from "vue-datetime";

export default {
  components: {
    datetime: Datetime
  },
  props: ["data"],
  data() {
    return {};
  },

  computed: {
    userSuspended() {
      return this.data.suspended == 1 ? true : false;
    },
    userSuspendedNotice() {
      return this.data.suspended == 1 ? "User is Suspended" : "User is Active";
    },
    param() {
      return this.data.param != "new" ? this.data.id : "new";
    },
    validDomain() {
      return this.data.url.length > 3 ? true : false;
    },
    validClientName() {
      return this.data.name != "" ? true : false;
    },
    dateFormClass() {
      return this.data.register_date != ""
        ? "form-control is-valid"
        : "form-control is-invalid";
    }
  },
  watch: {
    propChange: function(newVal, oldVal) {
      console.log(newVal);
    }
  },
  mounted() {},
  created() {
    this.backupData = this.data;
  },
  methods: {
    update() {
      var vm = this;
      let method = vm.param == "new" ? "post" : "put";
      let urlUpdate =
        vm.param == "new" ? "/api/domain" : "/api/domain/" + vm.data.id;
      let dataupload = vm.data;

      axios({
        method: method,
        url: urlUpdate,
        data: dataupload
      })
        .then(r => {
          if (r.status == 200) {
            vm.$toastr.s("Update data success, redirecting you back");
            vm.$emit("null-data", null);
          } else {
            vm.$toastr.e(r.data.error.msg);
          }
          // vm.$emit("null-data", null)
        })
        .catch(e => {
          console.log(e);
        });
    },
    back() {
      this.$toastr.s("Data direset ulang");

      this.$emit("cancel-data", null);
    }
  }
};
</script>



