<template>
  <div>
    <div class="section-header">
      <h1>Management Clien Domain</h1>
      <div class="ml-auto" v-if="isLoading ==false ">
        <a
          @click="addClient"
          class="btn btn-primary text-white btn-icon icon-left btn-lg"
          :class="{'d-none':editData !=null}"
        >
          <i class="fas fa-plus"></i> Domain
        </a>
      </div>
    </div>

    <div class="section-body">
      <div class="card">
        <!-- <div class="card-header">

        </div>-->
        <div class="card-body" v-if="editDatax != null">
          <EditData
            @null-data="setEditDataNull"
            @cancel-data="cancelLastAddData"
            :data="editDatax"
            :domainData="domainData"
          ></EditData>
        </div>

        <div class="card-body" v-else>
          <div class="float-right">
            <form>
              <div class="input-group">
                <input v-model="keyword" class="form-control" placeholder="Search" />
                <div class="input-group-append">
                  <button class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="clearfix mb-3"></div>

          <div class="table-responsive p-0">
            <table class="table table-invert table-striped table-md" v-if="tableData != null">
              <thead>
                <tr>
                  <th scope="col">Client Name</th>
                  <th scope="col" class="text-center">Domain</th>
                  <th scope="col" class="text-center">Contact</th>
                  <th scope="col" class="text-center">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in tableData" :key="index">
                  <th scope="row">
                    {{ item.name }}
                    <div class="table-links">
                      <a @click="editThis(item)" class="text-primary">Edit</a>

                      <div class="bullet"></div>
                      <a @click="deleteThis(item)" class="text-danger">Trash</a>
                    </div>
                  </th>
                  <td class="text-center">{{ item.url }}</td>
                  <td class="text-center">{{ item.contact }}</td>
                  <td
                    class="text-center text-white"
                    :class="item.suspended == 1 ? 'bg-danger':'bg-success'"
                  >{{ item.suspended == 1 ? 'SUSPENDED':'ACTIVE' }}</td>
                </tr>
              </tbody>
            </table>

            <div class="float-right">
              <nav>
                <paginate
                  v-if="domainData != null"
                  v-model="currentPage"
                  :click-handler="changePage"
                  :page-count="pageCount"
                  :margin-pages="2"
                  :hide-prev-next="true"
                  :container-class="'pagination'"
                  :page-class="'page-item'"
                  :page-link-class="'page-link'"
                  :next-link-class="'page-link'"
                  :prev-link-class="'page-link'"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                ></paginate>
              </nav>
            </div>
          </div>

          <!-- testing paginate -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EditData from "./Edit";
// import crypto from "crypto-js";
export default {
  components: {
    EditData
  },
  data() {
    return {
      paginate: ["tableData"],
      keyword: "",
      domainData: null,
      editData: null,
      currentPage: 1,
      perPage: 5,
      domainData: null,
      isLoading: true
    };
  },
  computed: {
    dataChunked() {
      return this.chunkedItems[this.currentPage - 1];
    },
    chunkedItems() {
      return _.chunk(this.domainData, this.perPage);
    },

    pageCount() {
      if (this.keyword) {
        return Math.ceil(this.tableData.length / this.perPage);
      } else {
        return Math.ceil(this.domainData.length / this.perPage);
      }
    },
    tableData() {
      return this.keyword
        ? this.domainData.filter(item =>
            item.name.toLowerCase().includes(this.keyword.toLowerCase())
          )
        : this.loadChunked(this.currentPage);
    },
    isEdit() {
      return this.$route.params.id ? true : false;
    },
    editDatax: {
      get: function() {
        return this.editData;
      },
      set: function(value) {
        this.editData = null;
      }
    }
  },
  created() {
    this.fetchDomain();
  },
  methods: {
    loadChunked(index) {
      return this.chunkedItems[index - 1];
    },

    changePage(pageNum) {
      console.log(pageNum);
    },
    deleteThis(item) {
      var vm = this;
      axios
        .delete("/api/domain/" + item.id)
        .then(r => {
          vm.$toastr.e("Data deleted successfully!!");
          vm.fetchDomain();
        })
        .catch(e => {
          console.log(e);
        });
    },
    addClient() {
      let newData = {
        param: "new",
        id: this.$uuid.v4(),
        suspended: false,
        name: "",
        url: "",
        contact: "",
        register_date: "",
        billing_date: ""
      };
      this.domainData.push(newData);
      this.editData = newData;
    },
    setEditDataNull() {
      this.editData = null;
    },
    cancelLastAddData() {
      this.domainData.pop();
      this.editDatax = null;
    },
    editThis(data) {
      this.editData = data;

      //   this.$router.push({ name: "gotoDomain", params: { id: data.id } });
    },

    fetchDomain() {
      var vm = this;
      this.isLoading = true;
      axios
        .get("/api/domain")
        .then(r => {
          vm.domainData = r.data.data;
          this.isLoading = false;
        })
        .catch(e => {
          console.log(e);
          this.isLoading = false;
        });
    }
  },
  mounted() {
    // this.$toastr.s(
    //   "This Message From Toastr Plugin\n You can access this plugin : <font color='yellow'>this.$toastr</font>"
    // );

    console.log("CLient DOmain Component mounted.");
  }
};
</script>
