.logo-match {
    width: 50px;
}
.logo-liga {
    width: 50px;
}

.logo-team {
    width: 50px;
}
.table-links {
    a {
        &:hover {
            cursor: pointer;
        }
    }
}
.select-streamlink {
    width: 30%;
}
.color-selector {
    height: 100px;
    width: 100%;
}
.logo-preview {
    width: 100px;
}
.liga-descripton {
    height: 100px;
}

.match-edit-toogle-indikator {
    width: 3rem;
    height: 1rem;
}
