<template>
  <div>
    <h2>Edit / Add Team</h2>

    <div class="form-edit-liga" v-if="data!=null">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Team Name</label>
          <input type="text" class="form-control" v-model="data.name" />
        </div>
        <div class="form-group col-md-6">
          <div class="form-group">
            <label>Select2 Multiple</label>
            <multiselect
              v-model="data.liga"
              :options="ligadata"
              label="name"
              track-by="name"
              :multiple="true"
            ></multiselect>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Logo</label>
        <input type="text" class="form-control" v-model="data.logo" />
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Preview</label>
          <img class="logo-preview" :src="data.logo" alt />
        </div>
        <div class="form-group col-md-6">
          <label>Description</label>
          <textarea
            rows="5"
            class="liga-descripton form-control"
            v-model="data.description"
            style="margin-top: 0px; margin-bottom: 0px; height: 100px;"
          ></textarea>
        </div>
      </div>

      <button class="btn btn-primary mr-1" type="submit" @click="update">Update</button>
      <button class="btn btn-secondary" type="reset" @click="back">Cancel</button>
    </div>
  </div>
</template>

<script>
// import data from '../data/sidebar-item'

export default {
  props: ["data", "ligadata"],
  data() {
    return {
      backupData: null
    };
  },
  computed: {
    param() {
      return this.data.param != "new" ? this.data.id : "new";
    }
  },
  watch: {
    propChange: function(newVal, oldVal) {
      console.log(newVal);
    }
  },
  created() {
    this.backupData = this.data;
  },
  methods: {
    myChangeEvent(val) {
      console.log(val);
    },
    mySelectEvent({ id, text }) {
      console.log({ id, text });
    },
    update() {
      var vm = this;
      let method = vm.param == "new" ? "post" : "put";
      let urlUpdate =
        vm.param == "new"
          ? "/api/football/team"
          : "/api/football/team/" + vm.data.id;

      axios({
        method: method,
        url: urlUpdate,
        data: vm.data
      })
        .then(r => {
          if (r.status == 200) {
            vm.$toastr.s("Update data success, redirecting you back");
            vm.$emit("null-data", null);
          } else {
            vm.$toastr.e(r.data.error.msg);
          }
          // vm.$emit("null-data", null)
        })
        .catch(e => {
          console.log(e);
        });
    },
    back() {
      this.$toastr.s("Data direset ulang");
      this.$emit("cancel-data", null);
    }
  }
};
</script>


