<template>
  <div>
    <vue-confirm-dialog></vue-confirm-dialog>
    <div class="section-header">
      <h1>Managemen Football Match</h1>
      <div
        class="ml-auto"
        v-if="isLoading ==false"
      >
        <a
          @click="addMatch"
          class="btn btn-primary text-white btn-icon icon-left btn-lg"
        >
          <i class="fas fa-plus"></i> Add Match
        </a>
      </div>
    </div>

    <div class="section-body">
      <div class="card">
        <!-- <div class="card-header">

        </div>-->
        <div
          class="card-body"
          v-if="editDatax!=null"
        >
          <EditData
            @null-data="setEditDataNull"
            @cancel-data="cancelLastAddData"
            :data="editDatax"
            :ligadata="ligaData"
            :teamdata="teamData"
          ></EditData>
        </div>

        <div
          class="card-body"
          v-else
        >
          <div class="float-right">
            <form>
              <div class="input-group">
                <input
                  v-model="keyword"
                  class="form-control"
                  placeholder="Search"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="clearfix mb-3"></div>

          <table
            class="table table-invert"
            v-if="matchData !=null"
          >
            <thead>
              <tr>
                <th scope="col">Match Name</th>
                <th scope="col">Kick Off</th>
                <th scope="col">Home Team</th>
                <!-- <th scope="col" class="text-center">Logo</th> -->
                <th scope="col">Away Team</th>
                <!-- <th scope="col" class="text-center">Logo</th> -->
                <th
                  scope="col"
                  class="text-center"
                >Liga</th>
                <th
                  scope="col"
                  class="text-center"
                >Stream</th>
              </tr>
            </thead>

            <tbody v-if="tableData!=null">
              <tr
                v-for="(item, index) in tableData"
                :key="index"
                :class="{'table-danger':item.status ==1}"
              >
                <th scope="row">
                  {{ (item.name) ? item.name : 'null' }}
                  <div class="table-links">
                    <router-link
                      :to="{ name: 'gotoMatchEdit', params: { id: item.id }}"
                      tag="a"
                      class="text-primary"
                    >Edit</router-link>
                    <!-- <a @click="editThis(item)" class="text-primary">Edit Old</a> -->

                    <div class="bullet"></div>
                    <a
                      @click="deleteThis(item)"
                      class="text-danger"
                      :class="{'text-disabled':isLoading==true}"
                    >Trash</a>
                  </div>
                </th>

                <td>{{ item.start_time_alt }}</td>
                <td>{{ (item.home_team !=null) ? item.home_team.name  : 'null'}}</td>
                <!-- <td class="text-center">
                  <img class="logo-match text-center" :src="item.home_team.logo" alt />
                </td>-->
                <td>{{ (item.away_team != null) ? item.away_team.name: 'null' }}</td>
                <!-- <td class="text-center">
                  <img class="logo-match text-center" :src="item.away_team.logo" alt />
                </td>-->
                <td class="text-center">
                  <img
                    class="logo-match text-center"
                    :src="item.liga.logo"
                    alt
                  />
                </td>
                <td :class="[item.stream_link.length == 0 ? 'bg-danger' : 'bg-success'] + ' text-white text-center'">
                  <div
                    class="alert-icon text-white"
                    v-if="item.stream_link.length==0"
                  >
                    <i class="fas fa-exclamation-triangle fa-3x"></i>
                  </div>
                  <div v-else>{{ item.stream_link.length }}</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="float-right">
            <nav>
              <paginate
                v-if="matchData!=null"
                v-model="currentPage"
                :click-handler="changePage"
                :page-count="pageCount"
                :page-range="3"
                :margin-pages="2"
                :prev-text="'&laquo;'"
                :next-text="'&raquo;'"
                :container-class="'pagination'"
                :page-class="'page-item'"
                :page-link-class="'page-link'"
                :next-link-class="'page-link'"
                :prev-link-class="'page-link'"
              ></paginate>
            </nav>
          </div>

          <!-- testing paginate -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EditData from "./Edit";
export default {
  components: {
    EditData
  },
  data () {
    return {
      paginate: ["tableData"],
      keyword: "",
      matchData: null,
      ligaData: null,
      teamData: null,
      editData: null,
      currentPage: 1,
      perPage: 50,
      isLoading: false
    };
  },
  computed: {
    chunkedItems () {
      return _.chunk(this.matchData, this.perPage);
    },

    pageCount () {
      return this.matchData != null
        ? Math.ceil(this.matchData.length / this.perPage)
        : 0;
    },
    tableData () {
      return this.keyword
        ? this.loadChunked(this.currentPage).filter(
          item => item.name.toLowerCase().includes(this.keyword.toLowerCase())
          // ||  item.name_alt.toLowerCase().includes(this.keyword.toLowerCase())
          // ||
          // item.value.toLowerCase().includes(this.keyword.toLowerCase())
        )
        : this.loadChunked(this.currentPage);
    },
    isEdit () {
      return this.$route.params.id ? true : false;
    },
    editDatax: {
      get: function () {
        return this.editData;
      },
      set: function (value) {
        this.editData = null;
      }
    }
  },
  created () {
    this.fetchMatch();
    this.fetchLiga();
    this.fetchTeam();
  },
  methods: {
    bgColor (length) {
      return true;
    },
    loadChunked (index) {
      return this.chunkedItems[index - 1];
    },

    changePage (pageNum) {
      console.log(pageNum);
    },
    deleteThis (item) {
      var vm = this;

      this.$confirm(
        {
          message: `Delete Match Data?`,
          button: {
            no: 'No',
            yes: 'Yes'
          },
          /**
          * Callback Function
          * @param {Boolean} confirm
          */
          callback: confirm => {
            if (confirm) {
              vm.isLoading = true;
              axios
                .delete("/api/football/match/" + item.id)
                .then(r => {
                  vm.$toastr.e("Data deleted successfully!!");
                  vm.fetchMatch();
                  vm.isLoading = false;
                })
                .catch(e => {
                  vm.isLoading = true;
                  console.log(e);
                });
            }
          }
        }
      )

    },
    addMatch () {
      this.$router.push({ name: "gotoMatchEdit", params: { id: "new" } });
      let newData = {
        param: "new",
        id: this.$uuid.v4(),
        featured_image: "",
        liga_id: "null",
        name: "Match name",
        home_team_id: [],
        away_team_id: [],
        status: "1",
        stream_link: [],
        start_time: null,
        home_team: {},
        away_team: {},
        liga: {}
      };
      //   this.matchData.push(newData); // change to shift to push data at beginning
      this.matchData.unshift(newData);
      this.editData = newData;
    },
    setEditDataNull () {
      this.editData = null;
    },
    cancelLastAddData () {
      this.matchData.splice(-1, 1);
      this.editData = null;
    },
    editThis (data) {
      //   this.$router.push({ name: "gotoMatchEdit", param: { id: data.id } });
      this.editData = data;
    },

    fetchMatch () {
      var vm = this;
      vm.isLoading = true;
      axios
        .get("/api/football/match?clean=1")
        .then(r => {
          vm.matchData = r.data.data;
          vm.isLoading = false;
        })
        .catch(e => {
          console.log(e);
          vm.isLoading = false;
        });
    },
    fetchTeam () {
      var vm = this;
      axios
        .get("/api/football/team?clean=1")
        .then(r => {
          vm.teamData = r.data.data;
          vm.isLoading = false;
        })
        .catch(e => {
          console.log(e);
          vm.isLoading = false;
        });
    },
    fetchLiga () {
      var vm = this;
      vm.isLoading = true;
      axios
        .get("/api/football/liga")
        .then(r => {
          vm.ligaData = r.data.data;
          vm.isLoading = false;
        })
        .catch(e => {
          console.log(e);
          vm.isLoading = false;
        });
    }
  },
  mounted () {
    // this.$toastr.s(
    //   "This Message From Toastr Plugin\n You can access this plugin : <font color='yellow'>this.$toastr</font>"
    // );
    console.log("match Component mounted.");
  }
};
</script>



